body {
    background-color: rgb(104, 133, 221);
}

body,
button {
    font-family: Verdana, sans-serif;
    color: white;
}

#game-container { 
    margin: 5% auto 0 auto;
    padding: 20px;
    text-align: center;
    width: 40%;
}

button {
    margin: 1em;
    padding: 0.5em 1em;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 5px black;
    font-size: 1.25em;
    font-weight: 900;
    background-color: lightslategray;
}

button:hover {
    background-color: lime;
    color: black;
}