body,
button {
    background-color: rgb(104, 133, 221);
    font-family: Verdana, sans-serif;
    color: white;
}

#game-container { 
    margin: 5% auto 0 auto;
    padding: 20px;
    text-align: center;
    width: 60%;
}

button {
    margin: 1em;
    padding: 0.5em 1em;
    border-radius: 15px;
    border: solid 3px white;
    box-shadow: 0 0 5px black;
    font-size: 1.25em;
    font-weight: 900;
    /* background-color: lightslategray; */
}

button:hover {
    background-color: lime;
    color: black;
    cursor: pointer;
}

button:disabled {
    background-color: grey;
    border: solid 3px grey;
    color: white;
    cursor: not-allowed;
}

#declare-winner {
    font-size: 1.25em;
    background-color: white;
    color: black;
    padding: 10px 15px;
    margin: 1em 10% 1.5em 10%;
    border-radius: 15px;
    font-weight: bold;
    box-shadow: 0 0 5px black;
}

#display-score {
    margin-bottom: 2em;
}

#round-winner {
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 0 0 5px #000;
}
